

{% extends 'usertemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12"><h1>SCHEDULEVIEW</h1></div>
<div class="card mx-auto mt-5
" style="width: 800px; height:600px; border:1px solid red"  >
<div class="row">
  <div class="col-lg-6 "></div>
  <div class="col-lg-6">
    <form method="get" class="form-inline" style="float:right;">
      <div class="input-group">
        {{ schedulefilter.form }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  </div>

  {% for message in messages %}
  <div class="alert" role="alert">
    {{message}}
  </div>
{% endfor %}

<table class="table">
  <tbody>
  <tr class="table-primary">
    <th>Date</th>
    <th>Hospital</th>
    <th>vaccinename</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th></th>
  </tr>
  {% for i in new %}
    <tr>
      <td>{{i.date}}</td>
      <td>{{i.hospital}}</td>
      <td>{{i.vaccinename}}</td>
      <td>{{i.starttime}}</td>
      <td>{{i.endtime}}</td>
        <td>
          <a href="{% url 'bookappointment' i.id %}"><button type="submit" class="btn btn-primary">BookAppointment</button></a>

          </td>

    </tr>
    {% empty %}
  <tr>
    <td colspan="7"><h3>No Results Found</h3></td>
  </tr>

  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}